{% extends '::base.html.twig' %}

{% block header %}
    <h1>{{ 'Updates'|trans }}
        <small>{{ 'project & data'|trans }}</small>
    </h1>
{% endblock %}

{% block content %}
<div class="well">
    <h1>{{ 'mainpage.header'|config('LMS42') }}</h1>
    <p>{{ 'mainpage.description'|config('LMS42 is cool!')}}</p>
    <hr>
</div>
{% endblock %}